Repository patrick204nqh/gem-ci, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci-cd, type: documentation, type: security, type: testing, type: configuration, type: community, type: release, area: automation, area: core, area: community, area: ecosystem

📚 Deploy documentation [skip ci] ff2519bc2318ec9a8235ca0bfce93aa30da34d88
  Gem.html
  Gem/Ci.html
  Gem/Ci/Error.html
  _index.html
  file.README.html
  top-level-namespace.html
Labels: none

fix: Update compatibility test command from 'rake test' to 'rake spec'
  .github/workflows/07-ecosystem.yml
Labels: type: ci-cd, area: automation

📚 Deploy documentation [skip ci] 87ebdeea3b4dbba6ceb67787b8c862967004b31a
  Gem.html
  Gem/Ci.html
  Gem/Ci/Error.html
  _index.html
  file.README.html
  top-level-namespace.html
Labels: none

refactor: Rename module and file structure from 'Gem::Ci' to 'GemCi' for consistency
  .github/workflows/06-release.yml
  gem-ci.gemspec
  lib/gem/ci.rb
  lib/gem/ci/version.rb
  lib/gem_ci.rb
  lib/gem_ci/version.rb
  spec/gem/ci_spec.rb
  spec/gem_ci_spec.rb
  spec/spec_helper.rb
Labels: type: ci-cd, type: testing, type: release, area: automation, area: core

📚 Deploy documentation [skip ci] d343b14da97180a4fd3d1b37326190ea65b06f5d
  Gem/Ci.html
  GemCi.html
  GemCi/Error.html
  _index.html
  class_list.html
  file.README.html
  top-level-namespace.html
Labels: none

fix: Add newline at the end of gem_ci_spec.rb for consistency
  spec/gem_ci_spec.rb
Labels: type: testing

📚 Deploy documentation [skip ci] 9ae1ec1fbd14ec0fb13be381589c4024b1ed2c92
  GemCi.html
  GemCi/Error.html
  _index.html
  file.README.html
  top-level-namespace.html
Labels: none

fix: Update gem version to 0.1.1 in Gemfile.lock and version.rb
  Gemfile.lock
  lib/gem_ci/version.rb
Labels: type: ci-cd, type: release, area: core, area: ecosystem

📚 Deploy documentation [skip ci] e846f3a397df483229c1f2dd39ead7ab33dcb9c5
  GemCi.html
  GemCi/Error.html
  _index.html
  file.README.html
  top-level-namespace.html
Labels: none

fix: Update release-please-action to version 4 and modify changelog configuration
  .github/workflows/06-release.yml
  Gemfile.lock
  lib/gem_ci/version.rb
Labels: type: ci-cd, type: release, area: automation, area: core, area: ecosystem

📚 Deploy documentation [skip ci] 7b0134538e42128af4c5f33a83cdfbe3da9b2cd4
  GemCi.html
  GemCi/Error.html
  _index.html
  file.README.html
  top-level-namespace.html
Labels: none

📚 Deploy documentation [skip ci] 6dd47d6fe0ac0c12db54b396c2a0b437059f3304
  GemCi.html
  GemCi/Error.html
  _index.html
  file.README.html
  top-level-namespace.html
Labels: none

feat: Add release management configuration and update gem structure
  .github/.release-please-manifest.json
  .github/release-please-config.json
  .github/workflows/06-release.yml
  .github/workflows/07-ecosystem.yml
  gem-ci.gemspec
  lib/gem/ci.rb
  lib/gem/ci/version.rb
  lib/gem_ci.rb
  lib/gem_ci/version.rb
  spec/gem_ci_spec.rb
  spec/spec_helper.rb
Labels: type: ci-cd, type: testing, type: release, area: automation, area: core

📚 Deploy documentation [skip ci] bd8ae0c5774f7be38211b8aa14423d87ae72edbf
  GemCi.html
  GemCi/Error.html
  _index.html
  file.README.html
  top-level-namespace.html
Labels: none

📚 Deploy documentation [skip ci] 7c11c979ea1f423e398c95c12e62f59b72179de9
  GemCi.html
  GemCi/Error.html
  _index.html
  file.README.html
  top-level-namespace.html
Labels: none

fix: Update gemspec metadata to include homepage URI and correct documentation URI
  gem-ci.gemspec
Labels: type: release, area: core

fix: Add missing checkout step in stale management job
  .github/workflows/05-community.yml
Labels: type: ci-cd, area: automation

📚 Deploy documentation [skip ci] e2be91367e8c073d0f9526b3f30b60847f14f524
  GemCi.html
  GemCi/Error.html
  _index.html
  file.README.html
  top-level-namespace.html
Labels: none

fix: Update super-linter to version 6 and add filter to exclude coverage files
  .github/workflows/04-quality.yml
Labels: type: ci-cd, area: automation

feat: Add markdownlint configuration with relaxed rules for better developer experience
  .markdownlint.yml
Labels: type: configuration

📚 Deploy documentation [skip ci] fc401854598fb35a6ae278343fc3beb31e073a8c
  GemCi.html
  GemCi/Error.html
  _index.html
  file.README.html
  top-level-namespace.html
Labels: none

📚 Deploy documentation [skip ci] 71f9254aa0670b7b0fa1f9fc5240bc7ecaff2cb1
  GemCi.html
  GemCi/Error.html
  _index.html
  file.README.html
  top-level-namespace.html
Labels: none

📚 Deploy documentation [skip ci] 3a87434d016875f20d0d65342cad8c4261baa08a
  GemCi.html
  GemCi/Error.html
  _index.html
  file.README.html
  top-level-namespace.html
Labels: none

📚 Deploy documentation [skip ci] 394950e4690a1e5b2560f8e24df3dc977ec55fec
  GemCi.html
  GemCi/Error.html
  _index.html
  file.README.html
  top-level-namespace.html
Labels: none

📚 Deploy documentation [skip ci] 5495762bddd6918bfc6781586719a5eab6d10216
  GemCi.html
  GemCi/Error.html
  _index.html
  file.README.html
  top-level-namespace.html
Labels: none

📚 Deploy documentation [skip ci] 36239befffafb3ca7dbc03e5cfa7104b318def93
  GemCi.html
  GemCi/Error.html
  _index.html
  file.README.html
  top-level-namespace.html
Labels: none

ci(saving-cost): Add auto-labeling and repository labels configuration; update workflows for Slack notifications and command handling
  .github/config/labeler.yml
  .github/config/labels.yml
  .github/workflows/01-intake.yml
  .github/workflows/02-ci.yml
  .github/workflows/03-security.yml
  .github/workflows/04-quality.yml
  .github/workflows/05-community.yml
  .github/workflows/06-release.yml
  .github/workflows/07-ecosystem.yml
  .github/workflows/08-monitoring.yml
  .github/workflows/09-bot-commands.yml
  .github/workflows/shared/notification.yml
Labels: type: ci-cd, type: configuration, area: automation

feat(ci): Add PR status update action for CI, Security, and Quality workflows
  .github/actions/update-pr-status/action.yml
  .github/workflows/02-ci.yml
  .github/workflows/03-security.yml
  .github/workflows/04-quality.yml
Labels: type: ci-cd, area: automation

feat: Add local testing scripts for gem-ci workflows
  .env.example
  .github/actions/notification/action.yml
  .github/actions/setup-ruby/action.yml
  .github/config/release-please-config.json
  .github/config/release-please-manifest.json
  .github/workflows/02-ci.yml
  .github/workflows/04-quality.yml
  .github/workflows/06-release.yml
  .github/workflows/shared/github-app-token.yml
  .github/workflows/shared/notification.yml
  .gitignore
  .secrets.example
  .slack/app-manifest.json
  README.md
  docs/MANUAL_WORKFLOW_TESTING.md
  docs/_config.yml
  docs/diagrams/ci-workflow-overview.md
  docs/guides/local-testing.md
  docs/index.md
  docs/setup/secrets.md
  docs/workflows/overview.md
  public/gem-ci-transparent-bg.png
  public/gem-ci.jpeg
  public/gem-ci.svg
  scripts/README.md
  scripts/test-local
  scripts/test-workflows
Labels: type: ci-cd, type: documentation, type: configuration, area: automation

fix: Update label configuration file paths in workflows
  .github/workflows/01-intake.yml
  .github/workflows/tests/validate-labels-sync.yml
Labels: type: ci-cd, area: automation

feat: Update Ruby version in branch protection and push restrictions; add GitHub App token generation to ecosystem workflow
  .github/config/rulesets/branch-protection.json
  .github/config/rulesets/push-restrictions.json
  .github/workflows/07-ecosystem.yml
Labels: type: ci-cd, type: configuration, area: automation

feat: Add GitFlow guide and workflow diagram for gem-ci projects
  docs/diagrams/gitflow-diagram.md
  docs/guides/gitflow.md
  docs/setup/github-pages.md
Labels: type: documentation

feat: Enhance PR status comment with structured table for workflow results
  .github/actions/update-pr-status/action.yml
Labels: type: ci-cd, area: automation

feat: Add GitHub App token generation for PR status updates
  .github/workflows/02-ci.yml
Labels: type: ci-cd, area: automation

feat: Implement GitHub reaction actions for PRs, releases, and comments
  .github/actions/add-reaction/action.yml
  .github/workflows/00-pr-reactions.yml
  .github/workflows/02-ci.yml
  .github/workflows/06-release.yml
  .github/workflows/09-bot-commands.yml
Labels: type: ci-cd, area: automation

feat: Refactor bot command workflow to enhance command handling and response structure
  .github/workflows/09-bot-commands.yml
Labels: type: ci-cd, area: automation

📚 Deploy documentation [skip ci] 022fdacd5db3cc1d5fa13ed39772512ed31e8931
  GemCi.html
  GemCi/Error.html
  _index.html
  file.README.html
  top-level-namespace.html
Labels: none

📚 Deploy documentation [skip ci] c21858fbf0787bc29064aaa0a84a3352c3ddc39b
  GemCi.html
  GemCi/Error.html
  _index.html
  file.README.html
  top-level-namespace.html
Labels: none

📚 Deploy documentation [skip ci] eed487b9ef6054a0937b762ec901625599748f41
  GemCi.html
  GemCi/Error.html
  _index.html
  file.README.html
  top-level-namespace.html
Labels: none

feat: Update documentation workflows and bot command handling for improved responses and clarity
  .github/workflows/04-quality.yml
  .github/workflows/06-release.yml
  .github/workflows/09-bot-commands.yml
  docs/_config.yml
Labels: type: ci-cd, type: documentation, area: automation

.github/labeler.yml:

# üè∑Ô∏è Auto-labeling Configuration for gem-ci
# Using proven patterns for reliable automation

# Type labels based on file changes
"type: ci-cd":
  - changed-files:
    - any-glob-to-any-file:
      - ".github/workflows/**"
      - ".github/actions/**"
      - "Rakefile"
      - "Gemfile*"

"type: documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "README*"
      - "docs/**"
      - "**/*.md"
      - "LICENSE*"
      - "CHANGELOG*"

"type: security":
  - changed-files:
    - any-glob-to-any-file:
      - ".github/security.yml"
      - "SECURITY.md"

"type: testing":
  - changed-files:
    - any-glob-to-any-file:
      - "spec/**"
      - "test/**"
      - ".rspec"
      - "spec_helper.rb"

"type: configuration":
  - changed-files:
    - any-glob-to-any-file:
      - ".github/config/**"
      - "*.yml"
      - "*.yaml"
      - ".rubocop.yml"
      - ".gitignore"

"type: community":
  - changed-files:
    - any-glob-to-any-file:
      - ".github/ISSUE_TEMPLATE/**"
      - ".github/PULL_REQUEST_TEMPLATE/**"
      - "CODE_OF_CONDUCT.md"
      - "CONTRIBUTING.md"

"type: release":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/**/version.rb"
      - "CHANGELOG.md"
      - "*.gemspec"

# Area labels based on components
"area: automation":
  - changed-files:
    - any-glob-to-any-file:
      - ".github/workflows/**"
      - ".github/actions/**"
      - ".github/config/**"

"area: core":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/**"
      - "*.gemspec"
      - "Gemfile*"

"area: community":
  - changed-files:
    - any-glob-to-any-file:
      - "CODE_OF_CONDUCT.md"
      - "CONTRIBUTING.md"
      - ".github/ISSUE_TEMPLATE/**"
      - ".github/PULL_REQUEST_TEMPLATE/**"

"area: ecosystem":
  - changed-files:
    - any-glob-to-any-file:
      - "Gemfile.lock"
      - "benchmark/**"
      - "performance/**"
