Repository patrick204nqh/gem-ci, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci-cd, type: documentation, type: security, type: testing, type: configuration, type: community, type: release, area: automation, area: core, area: community, area: ecosystem

📚 Deploy documentation [skip ci] 5413db6dbd683e95c228a48ada17eb48dc78a0ac
  GemCi.html
  GemCi/Error.html
  _index.html
  file.README.html
  index.html
  top-level-namespace.html
Labels: none

feat: Enhance documentation with improved image handling and streamlined workflow descriptions
  README.md
  docs/index.md
  docs/workflows/overview.md
Labels: type: documentation

📚 Deploy documentation [skip ci] a67bdab6928a77f5cdf6312500d117a3e66e0778
  GemCi.html
  GemCi/Error.html
  _index.html
  file.README.html
  index.html
  top-level-namespace.html
Labels: none

feat: Update CI workflows to ignore documentation changes and add new logo image
  .github/workflows/02-ci.yml
  .github/workflows/03-security.yml
  .github/workflows/04-quality.yml
  docs/assets/images/gem-ci-transparent-bg.png
  docs/index.md
Labels: type: ci-cd, type: documentation, area: automation

📚 Deploy documentation [skip ci] cd0d30f3b226ce9d49e81ab615252d7955a0050f
  GemCi.html
  GemCi/Error.html
  _index.html
  file.README.html
  index.html
  top-level-namespace.html
Labels: none

feat: Update workflows to ignore documentation paths and disable bot command handling
  .github/workflows/01-intake.yml
  .github/workflows/09-bot-commands.yml
Labels: type: ci-cd, area: automation

📚 Deploy documentation [skip ci] af81d10120883b8b48bea02d817ba7ed427b18f6
  GemCi.html
  GemCi/Error.html
  _index.html
  file.README.html
  index.html
  top-level-namespace.html
Labels: none

feat: Revamp documentation layout and enhance content clarity
  docs/index.md
Labels: type: documentation

feat: Remove bot command handler workflow
  .github/workflows/09-bot-commands.yml
Labels: type: ci-cd, area: automation

📚 Deploy documentation [skip ci] e01b6d584572dcaa76b13e2d1376b9cb4be81ccf
  GemCi.html
  GemCi/Error.html
  _index.html
  file.README.html
  index.html
  top-level-namespace.html
Labels: none

doc: Enhance documentation with new guides and updates
  .gitignore
  CONTRIBUTORS.md
  docs/Gemfile
  docs/Gemfile.lock
  docs/README.md
  docs/_config.yml
  docs/_includes/head-custom.html
  docs/_includes/site-nav.html
  docs/_layouts/default.html
  docs/assets/css/style.scss
  docs/diagrams/ci-workflow-overview.md
  docs/diagrams/gitflow-diagram.md
  docs/guides/bot-commands.md
  docs/guides/customization.md
  docs/guides/ecosystem.md
  docs/guides/gitflow.md
  docs/guides/mermaid-test.md
  docs/guides/monitoring.md
  docs/guides/validation.md
  docs/index.md
  docs/setup/github-pages.md
  docs/setup/secrets.md
  docs/workflow-dependencies.md
  docs/workflows/overview.md
Labels: type: documentation, type: configuration

📚 Deploy documentation [skip ci] e9b4c2c6f0bf462972cdb48a8fe33e92270ea6e4
  GemCi.html
  GemCi/Error.html
  _index.html
  file.README.html
  index.html
  top-level-namespace.html
Labels: none

feat: Update documentation to include CI Workflow and GitFlow diagrams
  docs/Gemfile
  docs/_includes/site-nav.html
  docs/diagrams/ci-workflow-overview.md
  docs/index.md
  docs/workflows/overview.md
Labels: type: documentation

📚 Deploy documentation [skip ci] b6dd928a625ddee23e9294e0e354846f829818a2
  GemCi.html
  GemCi/Error.html
  _index.html
  file.README.html
  index.html
  top-level-namespace.html
Labels: none

📚 Deploy documentation [skip ci] 4458dab84ec0684ec5b89a5e49d9c8bc42806aba
  GemCi.html
  GemCi/Error.html
  _index.html
  file.README.html
  index.html
  top-level-namespace.html
Labels: none

📚 Deploy documentation [skip ci] 46ca4b48a4df965c82e9a04310f9ab67d6e3756b
  GemCi.html
  GemCi/Error.html
  _index.html
  file.README.html
  index.html
  top-level-namespace.html
Labels: none

📚 Deploy documentation [skip ci] c1d85bc2f80726933d3bd6ddfc2264338a4f96be
  GemCi.html
  GemCi/Error.html
  _index.html
  file.README.html
  index.html
  top-level-namespace.html
Labels: none

📚 Deploy documentation [skip ci] ce25cb54c9242dbd85864713c5f2d0346bb209db
  GemCi.html
  GemCi/Error.html
  _index.html
  file.README.html
  index.html
  top-level-namespace.html
Labels: none

📚 Deploy documentation [skip ci] 8af47c11c135cae9c3043c22572ea1c5b65abdfb
  GemCi.html
  GemCi/Error.html
  _index.html
  file.README.html
  index.html
  top-level-namespace.html
Labels: none

📚 Deploy documentation [skip ci] b231e787b4ea61fb97186972123e9d463b4b0370
  GemCi.html
  GemCi/Error.html
  _index.html
  file.README.html
  index.html
  top-level-namespace.html
Labels: none

📚 Deploy documentation [skip ci] 67bb99c9b661d8b9e02c362ac12614f6c69ba678
  GemCi.html
  GemCi/Error.html
  _index.html
  file.README.html
  index.html
  top-level-namespace.html
Labels: none

📚 Deploy documentation [skip ci] baebf4b65fe5caebd7efa77e35fbe7a76c514644
  GemCi.html
  GemCi/Error.html
  _index.html
  file.README.html
  index.html
  top-level-namespace.html
Labels: none

📚 Deploy documentation [skip ci] 22ca5ff54537e94ea11f03a43589a0089c79c41e
  GemCi.html
  GemCi/Error.html
  _index.html
  file.README.html
  index.html
  top-level-namespace.html
Labels: none

📚 Deploy documentation [skip ci] 6f55689d4dada1049db48b1830f780242d0149df
  GemCi.html
  GemCi/Error.html
  _index.html
  file.README.html
  index.html
  top-level-namespace.html
Labels: none

📚 Deploy documentation [skip ci] 0388e62f06d4e1472a757af653bacb3ffbb36ce3
  GemCi.html
  GemCi/Error.html
  _index.html
  file.README.html
  index.html
  top-level-namespace.html
Labels: none

📚 Deploy documentation [skip ci] 9107f1598eadcb72d583a044757fb74ba8c49fda
  GemCi.html
  GemCi/Error.html
  _index.html
  file.README.html
  index.html
  top-level-namespace.html
Labels: none

📚 Deploy documentation [skip ci] 0d199e12ca83002390f0a12ba5945f6dc5f23852
  GemCi.html
  GemCi/Error.html
  _index.html
  file.README.html
  index.html
  top-level-namespace.html
Labels: none

📚 Deploy documentation [skip ci] bf0d3081e14749b3b7d5f57f85be51c05435d2e6
  GemCi.html
  GemCi/Error.html
  _index.html
  css/style.css
  file.README.html
  frames.html
  index.html
  js/app.js
  js/full_list.js
  top-level-namespace.html
Labels: none

📚 Deploy documentation [skip ci] 1d7ad194043194e38937f67d44dfe2e07f498fd7
  GemCi.html
  GemCi/Error.html
  _index.html
  file.README.html
  index.html
  top-level-namespace.html
Labels: none

📚 Deploy documentation [skip ci] 0f4e73dede25b6dadcc4bbf6864ee19b78cf3a4d
  GemCi.html
  GemCi/Error.html
  _index.html
  file.README.html
  index.html
  top-level-namespace.html
Labels: none

📚 Deploy documentation [skip ci] 7a8bf8e78ccb41d2bc0e3c91e64f7c5290bc7c7a
  GemCi.html
  GemCi/Error.html
  _index.html
  file.README.html
  index.html
  top-level-namespace.html
Labels: none

📚 Deploy documentation [skip ci] cfdb891c422eff5e8fdfdba862e9706914960b18
  GemCi.html
  GemCi/Error.html
  _index.html
  file.README.html
  index.html
  top-level-namespace.html
Labels: none

📚 Deploy documentation [skip ci] b99636403670e387430964fd74dac45e2467af61
  GemCi.html
  GemCi/Error.html
  _index.html
  file.README.html
  index.html
  top-level-namespace.html
Labels: none

📚 Deploy documentation [skip ci] 39010cc9bdfe3e1563e429eac8cc6dd44b7204ac
  GemCi.html
  GemCi/Error.html
  _index.html
  file.README.html
  index.html
  top-level-namespace.html
Labels: none

📚 Deploy documentation [skip ci] 25f79ab6eeef2aaecf0980d6dceef9f398dd6e09
  GemCi.html
  GemCi/Error.html
  _index.html
  file.README.html
  index.html
  top-level-namespace.html
Labels: none

📚 Deploy documentation [skip ci] 502d2768ebc86f6742d3fbd409352aa004390e9f
  GemCi.html
  GemCi/Error.html
  _index.html
  file.README.html
  index.html
  top-level-namespace.html
Labels: none

📚 Deploy documentation [skip ci] bc2728133ec152bf07ca33ff6ea854ee1820d720
  GemCi.html
  GemCi/Error.html
  _index.html
  file.README.html
  index.html
  top-level-namespace.html
Labels: none

📚 Deploy documentation [skip ci] 64da7a9e8e72a4d5b5265fcc93b24123bd2699f7
  GemCi.html
  GemCi/Error.html
  _index.html
  file.README.html
  index.html
  top-level-namespace.html
Labels: none

📚 Deploy documentation [skip ci] d59f46e293a1da8d40fb7abb1114af68bb7b9be2
  GemCi.html
  GemCi/Error.html
  _index.html
  file.README.html
  index.html
  top-level-namespace.html
Labels: none

📚 Deploy documentation [skip ci] eeb437fbc0368a018bf437efd39648a0392087e0
  GemCi.html
  GemCi/Error.html
  _index.html
  file.README.html
  index.html
  top-level-namespace.html
Labels: none

.github/labeler.yml:

# üè∑Ô∏è Auto-labeling Configuration for gem-ci
# Using proven patterns for reliable automation

# Type labels based on file changes
"type: ci-cd":
  - changed-files:
    - any-glob-to-any-file:
      - ".github/workflows/**"
      - ".github/actions/**"
      - "Rakefile"
      - "Gemfile*"

"type: documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "README*"
      - "docs/**"
      - "**/*.md"
      - "LICENSE*"
      - "CHANGELOG*"

"type: security":
  - changed-files:
    - any-glob-to-any-file:
      - ".github/security.yml"
      - "SECURITY.md"

"type: testing":
  - changed-files:
    - any-glob-to-any-file:
      - "spec/**"
      - "test/**"
      - ".rspec"
      - "spec_helper.rb"

"type: configuration":
  - changed-files:
    - any-glob-to-any-file:
      - ".github/config/**"
      - "*.yml"
      - "*.yaml"
      - ".rubocop.yml"
      - ".gitignore"

"type: community":
  - changed-files:
    - any-glob-to-any-file:
      - ".github/ISSUE_TEMPLATE/**"
      - ".github/PULL_REQUEST_TEMPLATE/**"
      - "CODE_OF_CONDUCT.md"
      - "CONTRIBUTING.md"

"type: release":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/**/version.rb"
      - "CHANGELOG.md"
      - "*.gemspec"

# Area labels based on components
"area: automation":
  - changed-files:
    - any-glob-to-any-file:
      - ".github/workflows/**"
      - ".github/actions/**"
      - ".github/config/**"

"area: core":
  - changed-files:
    - any-glob-to-any-file:
      - "lib/**"
      - "*.gemspec"
      - "Gemfile*"

"area: community":
  - changed-files:
    - any-glob-to-any-file:
      - "CODE_OF_CONDUCT.md"
      - "CONTRIBUTING.md"
      - ".github/ISSUE_TEMPLATE/**"
      - ".github/PULL_REQUEST_TEMPLATE/**"

"area: ecosystem":
  - changed-files:
    - any-glob-to-any-file:
      - "Gemfile.lock"
      - "benchmark/**"
      - "performance/**"
